body {
    background-color: #EDEDED;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
}

.content-wrapper {
    border-radius: 4px;	
    background-color: #FFFFFF;	
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.25);
}

.player-wrapper {
    display: none;
}

.eups-player{
    width: 100% !important;
    height: 100% !important;
}

.header-row {
    margin-bottom: 0 !important;
}

#smallrow-header .tabs .tab a {
    color: rgba(0, 0, 0, .6);
    text-transform: capitalize;
    font-size: 18px;
}

#smallrow-header .tabs .tab a:hover {
    background-color: #fafafa;
}

#smallrow-header .tabs .tab a.active {
    background-color: #fff;
    color: #1A1A1A;
    font-weight: bold;
}

#smallrow-header .tabs .indicator {
    background-color: #0A72CC;
    z-index: 1;
}

#tabs-line {
    border-top: 1px solid rgba(160, 160, 160, 0.4);
    margin-left: .75rem;
    margin-bottom: 12px;
    width: calc(100% - 1.5rem);
}

.title {
    font-weight: bold;
    color: #1A1A1A;
}

.video-title {
    padding-right: 3%;
}

.video-description {
    color: #4A4A4A;
    margin-top: 13px;
    padding-right: 3%;
}

.annotations {
    margin-top: 13px;
}

.smallrow {
    display: none;
}

.wideseparator {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.widecolumn {
    display: none;
    float:left;
    flex: 1;
    flex-basis: 48%;
}

#wideseparator {
    flex-basis: 3%;
    flex-grow: 0;
}

.vertical-line {
    width: 1px;
    height: 100%;
    border-left: 1px solid #CCCCCC;
}

#additional-info-body {
    display: flex; 
}

.margin-row {
    margin-top: 10px;
    width: 100%;
}

.annotation-row {
    cursor: pointer;
}

.annotation-timing {
    color: #0A72CC;
}

.annotation-text-inline {
    display: inline;
    line-height: 30px;
    background-color: #F1F1EE;
    border: 2px solid #F1F1EE;
    border-radius: 4px;
}