body{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
  }
  
  .aspect-ratio{
    max-height: 100%;
    max-width: 100%;
  }
  
  .player-wrapper {
    background-color: #eee;
    position: relative;
  }
  
  @keyframes placeHolderShimmer{
    0%{
      background-position: 100% 0;
    }
    100%{
      background-position: -100% 0;
    }
  }
  
  .player-wrapper.loading::after{
    content: '';
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: linear-gradient(to right, #eeeeee 10%, #dddddd 18%, #eeeeee 33%);
    background-size: 300% 100%;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  .eups-player{
    position: absolute;
    top: 0;
  }
  
  .video-title {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
    XXXbackground: rgba(0, 0, 0, 0.3);
    color: #f00;
    font-size: 20px;
    font-weight: bold;
  
    XXXheight: 135px;
    XXXheight: 8.5em;
  
    line-height: 25px;
    max-height: 75px; //3em;
    overflow: hidden;
    padding: 16px;
    position: relative;
  
  
    XXXtext-align: center;
    top: 0;
    transition: top 1s ease 0s;
  }
  
  .playing .video-title{
    XXXdisplay: none;
    top: -3em;
  }
  
  .playing:hover .video-title{
    display: block;
    top: 0;
  }
  
  .info{
    bottom: 0;
    color: #fff;
    left:0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }
  