$title-height: 54px;
$def-padding: 16px;
$mid-grey: #4b4b4b;
// $min-width: 375px;

$bp-med: 50em;
$bp-large: 60em;

body{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  // min-width: $min-width;
  padding: 0;
}

.attribution{
  background: #fff;
  border: 1px solid $mid-grey;
  bottom: 0;
  color: #000;
  display: none;
  font-size: 14px;
  max-width: 375px;
  padding: $def-padding;
  pointer-events: all;

  position: absolute;
  right: 0;
  z-index: 1;

  .field{
    box-sizing: border-box;
    display: flex;
    line-height: 19px;
    max-height: 38px;
    overflow: hidden;
    &:not(:first-child){
      margin-top: 6px;
    }
    &:not(:last-child)::after{
      content: '';
    }
  }
  .fname{
    color: $mid-grey;
    display: inline-block;
    &::after{
      content: ':';
      margin-right: 0.5em;
    }
  }

  &.showing{
    display: block;
  }

  a{
    color: #000;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
}

.audio,
.video{
  .attribution{
    bottom: 46px;
  }
}

.player-wrapper {
  background-color: #eee;
  position: relative;
  overflow: hidden;

  &.image > img{
    max-width: 100%;
    max-width: 100%;
  }
  &.audio,
  &.video {
    // force the aspect ratio
    padding-top: 75%;

    .title-logo {
      align-items: center;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
      justify-content: space-between;
      display: flex;
    }
    .logo {
      display: block;
      padding: $def-padding $def-padding 0 0;
      max-width: 40px;
    }
    .title {
      box-sizing: border-box;
      color: #fff;
      display: block;
      font-size: 20px;
      font-weight: bold;
      line-height: 27px;
      overflow: hidden;
      padding: 0 $def-padding;
      position: relative;
      top: 0;
      transition: transform 0.4s ease 0s;
      transform: translateY(0);
      text-overflow: ellipsis;
      white-space: nowrap;

      @media (min-width: $bp-large) { // allow 2 lines
        white-space: normal;
        text-overflow: unset;
        max-height: $title-height;
      }
    }

    &.playing{
      .title{
        transform: translateY(calc(-100% - 20px ));
      }
      &:hover{
        .title{
          top: 0;
        }
      }
    }
  }

  &.loading::after{
    content: '';
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: linear-gradient(to right, #eeeeee 10%, #dddddd 18%, #eeeeee 33%);
    background-size: 300% 100%;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .btn.btn-info{
    background-image: url('/ic-info.png');
    background-repeat: no-repeat;
    opacity: 70%;
    cursor: pointer;
    display: inline-block;
    font-size: 24px;
    height: 1em;
    margin-top: 5px;
    width: 1em;

    &:hover{
      opacity: 100%;
    }
  }

  &.audio,
  &.video{
    .iiif-av-component .controls-container .btn.btn-info{
      float: right;
    }
  }

  &.image .btn.btn-info{
    bottom: 16px;
    pointer-events: all;
    position: absolute;
    right: 16px;
  }

}

@keyframes placeHolderShimmer{
  0%{
    background-position: 100% 0;
  }
  100%{
    background-position: -100% 0;
  }
}

.eups-player{
  position: absolute;
  top: 0;
}

.simple-image{
  border: 0;
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
}

.info{
  bottom: 0;
  color: #fff;
  left:0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}
