body {
//  background-color: red;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
}

.aspect-ratio{
  max-height: 100%;
  max-width: 100%;
}

.player-wrapper {
  display: none;
}

#embed-player{
  position: relative;
}
.eups-player{
  position: absolute;
  top: 0;
}

.header-row {
    margin-bottom: 0 !important;
}

#smallrow-header .tabs .tab a {
    color: rgba(0, 0, 0, .6);
    text-transform: capitalize;
    font-size: 18px;
}

#smallrow-header .tabs .tab a:hover {
    background-color: #fafafa;
}

#smallrow-header .tabs .tab a.active {
    background-color: #fff;
    color: #1A1A1A;
    font-weight: bold;
}

#smallrow-header .tabs .indicator {
    background-color: #0A72CC;
    background-color: red !important;

    z-index: 1;
}

#tabs-line {
    border-top: 1px solid rgba(160, 160, 160, 0.4);
    margin-left: .75rem;
    margin-bottom: 12px;
    width: calc(100% - 1.5rem);
}

.title {
    font-weight: bold;
    color: #1A1A1A;
}

.video-title {
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-align: center;
}

.info{
  bottom: 0;
  color: #fff;
  left:0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top:0;
  z-index: 1;
}

.video-description {
    color: #4A4A4A;
    margin-top: 13px;
    padding-right: 3%;
}

.annotations {
    margin-top: 13px;
}

.smallrow {
    display: none;
}

.wideseparator {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.widecolumn {
    display: none;
    float:left;
    flex: 1;
    flex-basis: 48%;
}

#wideseparator {
    flex-basis: 3%;
    flex-grow: 0;
}

.vertical-line {
    width: 1px;
    height: 100%;
    border-left: 1px solid #CCCCCC;
}

#additional-info-body {
    display: flex;
}

.margin-row {
    margin-top: 10px;
    width: 100%;
}

.annotation-row {
    cursor: pointer;
}

.annotation-timing {
    color: #0A72CC;
}

.annotation-text-inline {
    display: inline;
    line-height: 30px;
    background-color: #F1F1EE;
    border: 2px solid #F1F1EE;
    border-radius: 4px;
}
